version: '3.8'

services:
  nodejs:
    container_name: node_app
    command: npm run start:dev
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    ports:
      - 3800:3800
    volumes:
      - ./:/home/node/interview-test
    depends_on:
      - postgres
    links:
      - postgres

  postgres:
    container_name: postgres_db
    image: postgres
    environment:
      POSTGRES_DB: interview-test
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      PGDATA: /data/postgres
    volumes:
        - ./postgres:/data/postgres
    ports:
        - "5432:5432"
    # networks:
    #     - postgres
    restart: unless-stopped

networks:
  postgres:
    driver: local
